<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Наші студенти</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/header') %>

    <div class="container">
        <h2>Команда розробників</h2>
        <ul>
            <% students.forEach(student => { %>
                <li>
                    <a href="/student/<%= student.slug %>"><%= student.name %></a>
                </li>
            <% }) %>
        </ul>
    </div>
</body>
</html>