<!DOCTYPE html>
<html>
<head>
    <title>Weather App</title>
    <link rel="stylesheet" href="/stylesheets/weather.css">
</head>
<body>
<div class="container">
    <h1>Weather Forecast</h1>
    <p>Enter city to see forecast</p>
    <form action="/forecast" method="post">
        <input type="text" name="location" placeholder="Enter city name">
        <button type="submit">Search</button>
    </form>
</div>
</body>
</html>
